body {
  background: url('./images/vernazza-italy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero {
  margin-bottom: 2em;
}

a {
  color: white;
}