body {
  background: url('./images/vernazza-italy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: white;
}

#transparent {
  opacity: 0%;
}

#blackText {
  color: black;
}

#smallText {
  font-size: 14px;
}

#results {
  text-align: center;
}